* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
    background-image: url("img/back.jpg");
    
   
  }

.container h1{
    font-size: 4em;
    color: rgb(107, 139, 129);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    
    
    }
    
    h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 500;
    }
    
   
    
    a {
    text-decoration: none;
    }
    
    /* container */
    .container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 40px;
    }
    .container img {
        width: 700px;
    }
    
   
    
    
    /* Navbar */
    #navbar {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    }
    
    #navbar a {
    color: rgb(255, 255, 255);
    }
    
    #navbar .logo {
    float: left;
    padding-top: 12px;
    padding-left: 10px;
    }
    
    #navbar img {
    height: 40px;
    }
    
    #navbar ul {
    list-style: none;
    float: right;
    }
    
    #navbar ul li {
    float: left;
    }
    
    #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    }
   
    .container li a:hover{
        
        font-size: 1.6em;
    }
    .container p{
        font-size: 2em;
        text-align: center;
      
    }
    
    
    /* Showcase */
    #showcase {
    text-align: center;
    background-color: rgba(58, 51, 51, 0.712);
    padding-bottom: 10px;
    }
    .projects-row-detail{
        text-align: center;
    }
   
  

.projects-row {
    margin: 20px 0;
    width: 100%;
    height: 250px;
    display: flex;
    
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 0px 20px 0 rgba(33, 47, 199, 0.863);
    
}

.projects-row img {
    width: 100%;
    width: 140px;
    height: 140px;
    justify-content: center;
    border-radius: 100%;
    
}
.projects-row img:hover {
    width: 170px;
    height: 170px;
}



    
    /* Projects */
  #practicas:hover{
    box-shadow: 0px 0px 20px 0 rgb(255, 255, 255);
  }
    
   #practicas{
       margin: 20px;
    box-shadow: 0px 0px 20px 0 rgba(0, 255, 157, 0.555);
   }
   /*Informes*/
   #informes:hover{
    box-shadow: 0px 0px 20px 0 rgb(255, 255, 255);
  }
    
   #informes{
       margin: 20px;
    box-shadow: 0px 0px 20px 0 rgba(0, 255, 157, 0.555);
   }
   /**/
   #projects:hover{
    box-shadow: 0px 0px 20px 0 rgb(255, 255, 255);
  }
    
   #projects{
       margin: 20px;
    box-shadow: 0px 0px 20px 0 rgba(0, 255, 157, 0.555);
   }
    
    
    
    /* About */
   
    
    
    
    /* Footer */
    footer{
    background: #f9f9f9;
	text-align: center;
	padding: 30px;
    }
    